.body {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: -482px;
  width: 467px;
  height: 77%;
  padding: 184px 0 0 25px;
  background-color: var(--filter-background-color-primary);
}

.filters {
  margin-bottom: 250px;
}

.fields {
  width: 320px;
  margin-bottom: 15px;
  position: relative;
}

.activefields {
  margin-bottom: 66px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.38px;
  cursor: pointer;
}

.crossfilter {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 16px;
  height: 16px;
}

.select {
  opacity: 0;
  position: absolute;
  top: -10px;
  right: -100%;
  background-color: var(--filter-background-color-secondary);
  color: var(--filter-text-color-primary-lg);
  font-family: var(--font-family-heading);
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
  border: none;
  width: 100%;
  height: 36px;
}

.activeselect {
  opacity: 1;
  transform: translate(-101%, 100%);
  transition: translate;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.noactiveselect {
  opacity: 0;
  transform: translate(101%, -100%);
  transition: translate;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.select:active {
  border: var(--filter-border-primary);
}

// Цвет options
select:required:invalid {
  color: var(--filter-text-color-primary-dg);
}
option[value=''][disabled] {
  display: none;
}
option {
  color: var(--filter-text-color-primary-lg);
}

.inputs {
  opacity: 0;
  position: absolute;
  top: -10px;
  right: -100%;
  width: 100%;
}

.activeinputs {
  opacity: 1;
  transform: translate(-101%, 100%);
  transition: translate;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.noactiveinputs {
  opacity: 0;
  transform: translate(101%, -100%);
  transition: translate;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.input {
  background-color: var(--filter-background-color-secondary);
  color: var(--filter-text-color-primary-lg);
  font-family: var(--font-family-heading);
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
  border: none;
  width: 67px;
  height: 34px;
  text-align: center;
}

span {
  padding: 0 10px;
}

.input:active {
  border: var(--filter-border-primary);
}

.btn {
  color: var(--filter-text-color-primary-dg);
  font-family: var(--font-family-inter);
  font-weight: 300;
  font-size: 12px;
  line-height: 14.52px;
  text-decoration: underline;
  background: none;
  border: none;
}

.btn:hover {
  font-weight: 700;
  cursor: pointer;
}

.crossfilter {
  cursor: pointer;
}

@media (max-width: 768px) {
  .body {
    position: absolute;
    top: 0;
    right: -362px;
    width: 347px;
    height: 77%;
    padding: 184px 0 0 25px;
    background-color: var(--filter-background-color-primary);
  }
}

@media (max-width: 320px) {
  .body {
    position: absolute;
    top: 0;
    right: -281px;
    width: 265px;
    height: 77%;
    padding: 184px 0 0 15px;
    background-color: var(--filter-background-color-primary);
  }

  .fields {
    width: 240px;
    margin-bottom: 15px;
  }

  .activefields {
    margin-bottom: 50px;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.53px;
    cursor: pointer;
  }

  .crossfilter {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 16px;
    height: 16px;
  }

  .select {
    background-color: var(--filter-background-color-secondary);
    color: var(--filter-text-color-primary-lg);
    font-family: var(--font-family-heading);
    font-weight: 300;
    font-size: 12px;
    line-height: 16.8px;
    border: none;
    width: 100%;
    height: 33px;
  }

  .activeselect {
    opacity: 1;
    transform: translate(-101%, 100%);
    transition: translate;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }

  .noactiveselect {
    opacity: 0;
    transform: translate(101%, -100%);
    transition: translate;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }

  .select:active {
    border: var(--filter-border-primary);
  }

  .input {
    background-color: var(--filter-background-color-secondary);
    color: var(--filter-text-color-primary-lg);
    font-family: var(--font-family-heading);
    font-weight: 300;
    font-size: 12px;
    line-height: 16.8px;
    border: none;
    width: 67px;
    height: 33px;
    text-align: center;
  }

  .activeinputs {
    opacity: 1;
    transform: translate(-101%, 100%);
    transition: translate;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }

  .noactiveinputs {
    opacity: 0;
    transform: translate(101%, -100%);
    transition: translate;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }

  span {
    padding: 0 10px;
  }

  .input:active {
    border: var(--filter-border-primary);
  }

  .btn {
    color: var(--filter-text-color-primary-dg);
    font-family: var(--font-family-inter);
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    text-decoration: underline;
    background: none;
    border: none;
  }

  .btn:hover {
    font-weight: 700;
    cursor: pointer;
  }
}
