.wrapper.dark {
  --wrapper-background-color-primary: #121212;
  --wrapp-text-color-primary: #ffffff;

  --list-background-color-primary: #121212;
  --list-text-color-primary: #dedede;
  --list-border-left-accent: #ab8956;
  --list-text-color-accent: #ab8956;
  --list-background-color-secondary: #1a1818;

  --filter-background-color-primary: #121212;
  --filter-background-color-secondary: #1a1818;
  --filter-text-color-primary-lg: #dedede;
  --filter-border-primary: #dedede;
  --filter-text-color-primary-dg: #575757;

  --carousel-text-color-primary: #dedede;
  --carousel-text-color-secondary: #fcfcfc;
}
