.wrapper.light {
  --wrapper-background-color-primary: #ffffff;
  --wrapp-text-color-primary: #121212;

  --list-background-color-primary: #ffffff;
  --list-text-color-primary: #121212;
  --list-border-left-accent: #9b4b4b;
  --list-text-color-accent: #9b4b4b;
  --list-background-color-secondary: #fcfcfc;

  --filter-background-color-primary: #ffffff;
  --filter-background-color-secondary: #fcfcfc;
  --filter-text-color-primary-lg: #575757;
  --filter-border-primary: #9c9c9c;
  --filter-text-color-primary-dg: #9c9c9c;

  --carousel-text-color-primary: #575757;
  --carousel-text-color-secondary: #121212;
}
